<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam obcaecati, architecto nihil in sit sint tempora, deserunt quo autem nesciunt, repudiandae exercitationem labore atque iure ut fugit. Id, enim veniam.</p>
    </div>
</div>